@import "~tailwindcss/base.css";

@import "~tailwindcss/components.css";

@import "~tailwindcss/utilities.css";

@import "section.styl";
@import "nav.styl";


.title-box
  width 60%
  background-color #36A9E1
  color #fff
  border-radius 2em

.invert
  background-color #fff
  color #36A9E1